CORS_ORIGINS=http://151.243.3.213,http://localhost
PUBLIC_IP=151.243.3.213
DATABASE_URL=sqlite:////app/data/listify.db
REDIS_URL=redis://redis:6379

# API Keys
TMDB_API_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
IGDB_ACCESS_TOKEN=
IGDB_TOKEN_EXPIRES_AT=2025-12-31T16:29:17.372927+00:00
